<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <h1><%= restaurant.name  %></h1>
      <p>This restaurant serves: <%= restaurant.cuisine  %></p>
      <p>This restaurant is located in: <%= restaurant.address  %></p>
      
      <p><%= restaurant.description  %></p>
      <p><button id="def-button" href="<%= restaurant.website  %>">Go to website</button></p>
    </main>
  </body>
</html>
